<a href="{{ "/cyber-security" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">Cyber Security</h2></a>
<a href="{{ "/linux-open-source" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">Linux & Open Source</h2></a>
<a href="{{ "/ctf" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">CTF</h2></a>
<a href="{{ "/htb" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">HTB Machines</h2></a>
<a href="{{ "/social-links" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">Social</h2></a>
<a href="{{ "/cv" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">CV</h2></a>
<a href="{{ "/about" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">About</h2></a>
<a href="{{ "/contact" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">contact</h2></a>
<a href="{{ "/atom.xml" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">RSS</h2></a>
